.artistCard {
  background-color: rgb(234, 247, 255);
  border-radius: 12px;
  padding: 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.artistCard:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}

.artistPhoto {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  border: 4px solid #ffffff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s ease;
}

.artistCard:hover .artistPhoto {
  box-shadow: 0 0 20px 5px #ffd700;
}


.artistInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artistInfo h2 {
  font-size: 1.8em;
  margin: 0;
  color: #333333;
  transition: color 0.3s ease;
}

.artistInfo p {
  margin: 5px 0;
  font-size: 1.1em;
  color: #666666;
}